# The following files will be ignored:
SDL2-devel-2.0.3-VC/SDL2-2.0.3/BUGS.txt
SDL2-devel-2.0.3-VC/SDL2-2.0.3/WhatsNew.txt
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/aclocal.m4
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/autogen.sh
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/ChangeLog
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/config.guess
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/config.sub
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/configure
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/configure.in
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/depcomp
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/INSTALL
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/install-sh
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/ltmain.sh
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Makefile.am
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Makefile.in
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/missing
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/NEWS
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/SDL2_gfx.pc.in
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/SDL2_gfx.sln
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/SDL2_gfx.vcxproj
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/acinclude/libtool.m4
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/acinclude/ltdl.m4
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/acinclude/ltoptions.m4
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/acinclude/ltsugar.m4
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/acinclude/ltversion.m4
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/acinclude/lt~obsolete.m4
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/acinclude/pkg.m4
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/acinclude/sdl2.m4
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html.doxyfile
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/annotated.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/bc_s.png
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/bdwn.png
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/classes.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/closed.png
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/doxygen.css
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/doxygen.png
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/files.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/functions.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/functions_vars.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_0x61.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_0x62.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_0x63.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_0x65.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_0x66.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_0x67.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_0x68.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_0x6c.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_0x6d.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_0x70.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_0x72.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_0x73.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_0x74.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_0x76.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_0x7a.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_defs.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_func.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_func_0x61.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_func_0x62.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_func_0x63.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_func_0x65.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_func_0x66.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_func_0x67.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_func_0x68.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_func_0x6c.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_func_0x70.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_func_0x72.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_func_0x73.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_func_0x74.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_func_0x76.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_func_0x7a.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/globals_type.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/index.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/jquery.js
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/nav_f.png
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/nav_h.png
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/open.png
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/structt_color_r_g_b_a.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/structt_color_y.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/struct_f_p_smanager.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/struct_s_d_l2__gfx_bresenham_iterator.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/struct_s_d_l2__gfx_murphy_iterator.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/tabs.css
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/tab_a.png
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/tab_b.png
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/tab_h.png
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/tab_s.png
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/_r_e_a_d_m_e.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/_r_e_a_d_m_e_source.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/_s_d_l2__framerate_8c.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/_s_d_l2__framerate_8c_source.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/_s_d_l2__framerate_8h.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/_s_d_l2__framerate_8h_source.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/_s_d_l2__gfx_primitives_8c.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/_s_d_l2__gfx_primitives_8c_source.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/_s_d_l2__gfx_primitives_8h.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/_s_d_l2__gfx_primitives_8h_source.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/_s_d_l2__gfx_primitives__font_8h.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/_s_d_l2__gfx_primitives__font_8h_source.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/_s_d_l2__image_filter_8c.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/_s_d_l2__image_filter_8c_source.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/_s_d_l2__image_filter_8h.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/_s_d_l2__image_filter_8h_source.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/_s_d_l2__rotozoom_8c.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/_s_d_l2__rotozoom_8c_source.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/_s_d_l2__rotozoom_8h.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/Docs/html/_s_d_l2__rotozoom_8h_source.html
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/test/acinclude.m4
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/test/aclocal.m4
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/test/autogen.sh
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/test/config.guess
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/test/config.sub
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/test/configure
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/test/configure.in
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/test/install-sh
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/test/Makefile.in
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/test/sample16x16.bmp
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/test/sample24-box.bmp
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/test/sample24.bmp
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/test/sample2x2.bmp
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/test/sample3x3.bmp
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/test/sample8-box.bmp
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/test/sample8.bmp
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/test/TestGfx.vcxproj
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/test/TestImageFilter.vcxproj
SDL2_gfx-1.0.1/SDL2_gfx-1.0.1/test/TestRotozoom.vcxproj
SDL2_image-devel-2.0.0-VC/SDL2_image-2.0.0/CHANGES.txt
SDL2_mixer-devel-2.0.0-VC/SDL2_mixer-2.0.0/CHANGES.txt
SDL2_ttf-devel-2.0.12-VC/SDL2_ttf-2.0.12/CHANGES.txt
tinyxml2-master/tinyxml2-master/biicode.conf
tinyxml2-master/tinyxml2-master/dox
tinyxml2-master/tinyxml2-master/tinyxml2.pc.in
tinyxml2-master/tinyxml2-master/TinyXML2_small.png
tinyxml2-master/tinyxml2-master/tinyxml2/test.vcxproj
tinyxml2-master/tinyxml2-master/tinyxml2/test.vcxproj.filters
tinyxml2-master/tinyxml2-master/tinyxml2/tinyxml2.sln
tinyxml2-master/tinyxml2-master/tinyxml2/tinyxml2.vcxproj
tinyxml2-master/tinyxml2-master/tinyxml2/tinyxml2.vcxproj.filters
tinyxml2-master/tinyxml2-master/tinyxml2/tinyxml2-cbp/tinyxml2-cbp.cbp
tinyxml2-master/tinyxml2-master/tinyxml2/tinyxml2.xcodeproj/project.pbxproj
